# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/target

# dependencies


# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
*.iml



# misc
/work

# System Files


# from macOS
../.DS_Store
.DS_Store

# test created file
test.txt


